In [5]:
import pandas as pd
import numpy as np

In [10]:
imputedMeasurementsDf = pd.read_csv('../../../../Data/ProcessedData/KnnImputed/measurementsImputedByKnn.csv')

In [15]:
df = (imputedMeasurementsDf.drop(['day','month','hour','sensor_id'],axis = 1))

In [33]:
df

                T           Rn          H           P         CO2
0       31.300000  1001.448424  44.475000  101.565847  567.750000
1       31.333333   588.154974  45.505556  101.632854  636.361111
2       31.451429     0.100000  47.145714  101.539128  734.000000
3       31.161765  1042.843803  36.000000  101.501998  461.529412
4       31.008333  1585.713833  28.436111  101.567130  400.000000
...           ...          ...        ...         ...         ...
115629  29.792673   616.640000  50.156364  102.653100   97.200000
115630  29.951673   541.380000  48.047273  102.273400   97.800000
115631  30.329218   544.167273  53.847273  102.199727   97.181818
115632  29.511200   590.666000  44.097576  102.140000   98.100000
115633  30.079564   594.030000  41.082424  102.145091   98.090909

[115634 rows x 5 columns]

## Temperature

In [81]:
bellow10 = df[df['T']<= 10].count()
above35 = df[df['T']>= 36].count()
print("Rows with valeues bellow 10ºC: ",bellow10['T'])
print("Rows with valeues above 36ºC: ",above35['T'])

Rows with valeues bellow 10ºC:  583
Rows with valeues above 36ºC:  1451

## Radon

In [82]:
between1600And3200 = df[(df['Rn']>= 1600) & (df['Rn']<= 3200)].count()
above3200 = df[df['Rn']>= 3200].count()
print("Values between 1600 and 3200 Bq/m3: ",between1600And3200['Rn'])
print("Values above 3200 Bq/m3: ",above3200['Rn'])

Values between 1600 and 3200 Bq/m3:  1485
Values above 3200 Bq/m3:  10135

## Humidity

In [83]:
bellow20 = df[df['H']<= 20].count()
print("Bellow 20%: ",bellow20['H'])

Bellow 20%:  1268

## Pressure

In [84]:
bellow100 = df[df['P']<= 100].count()
print("Bellow 100kPa: ",bellow20['P'])

Bellow 100kPa:  1268

## Carbon Dioxide

In [85]:
above1500 = df[df['CO2']>= 1500].count()
print("Bellow 1500 ppm: ",above1500['CO2'])

Bellow 1500 ppm:  368