In [3]:
import tensorflow as tf
import os
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from datetime import timezone, datetime
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
imputedMeasurementsDf = pd.read_csv('../../../../Data/ProcessedData/KnnImputed/measurementsImputedByKnn.csv')
measurementsDf = pd.read_csv('../../../../Data/RawData/rawMeasurementsFilteredBySensors.csv')

In [5]:
dateTimeDf = pd.DataFrame(measurementsDf['time'])

In [6]:
def iso8601ToDatetime():
    for i in range(len(dateTimeDf['time'])):
        timeContainer  = dateTimeDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        timeContainer = datetime.fromtimestamp(timeContainer)
        dateTimeDf['time'][i] = timeContainer

In [7]:
%%time

iso8601ToDatetime()

CPU times: total: 13.7 s
Wall time: 15 s

In [8]:
measurementsDf = dateTimeDf.join(imputedMeasurementsDf.drop(['day','month','hour'],axis = 1))

In [9]:
measurementsDf

,time,T,Rn,H,P,CO2,sensor_id
0,2020-07-14 14:00:00,31.300000,1001.448424,44.475000,101.565847,567.750000,D0001
1,2020-07-14 15:00:00,31.333333,588.154974,45.505556,101.632854,636.361111,D0001
2,2020-07-14 16:00:00,31.451429,0.100000,47.145714,101.539128,734.000000,D0001
3,2020-07-14 17:00:00,31.161765,1042.843803,36.000000,101.501998,461.529412,D0001
4,2020-07-14 18:00:00,31.008333,1585.713833,28.436111,101.567130,400.000000,D0001
...,...,...,...,...,...,...,...
115629,2021-12-31 19:00:00,29.792673,616.640000,50.156364,102.653100,97.200000,D009
115630,2021-12-31 20:00:00,29.951673,541.380000,48.047273,102.273400,97.800000,D009
115631,2021-12-31 21:00:00,30.329218,544.167273,53.847273,102.199727,97.181818,D009
115632,2021-12-31 22:00:00,29.511200,590.666000,44.097576,102.140000,98.100000,D009
115633,2021-12-31 23:00:00,30.079564,594.030000,41.082424,102.145091,98.090909,D009

In [10]:
measurementsDf.index =measurementsDf['time']

In [11]:
temperatureDf = measurementsDf['T']

In [ ]:
temperatureDf.plot()

In [ ]:
def df_to_X_y(df, window_size=5):
    df_as_np = df.to_numpy()
    
    X = []
    y = []
    for i in range(len(df_as_np)-window_size):
        row = [[a] for a in df_as_np[i:i+window_size]]
        X.append(row)
        label = df_as_np[i+window_size]
        y.append(label)
        
    return np.array(X), np.array(y)

In [ ]:
WINDOW_SIZE = 5
X1, y1 = df_to_X_y(temperatureDf, WINDOW_SIZE)
X1.shape, y1.shape

In [ ]:
y1

In [ ]:
X_train1, y_train1 = X1[:80000], y1[:80000]
X_val1, y_val1 = X1[80000:80000], y1[80000:85000]
X_test1, y_test1 = X1[85000:], y1[85000:]
X_train1.shape, y_train1.shape, X_val1.shape, y_val1.shape, X_test1.shape, y_test1.shape

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

model1 = Sequential()
model1.add(InputLayer((5, 1)))
model1.add(LSTM(64))
model1.add(Dense(8, 'relu'))
model1.add(Dense(1, 'linear'))

model1.summary()

In [ ]:
cp1 = ModelCheckpoint('model1/', save_best_only=True)
model1.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.0001), metrics=[RootMeanSquaredError()])

In [ ]:
model1.fit(X_train1, y_train1, validation_data=(X_val1, y_val1), epochs=10, callbacks=[cp1])