In [6]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError, MeanAbsoluteError
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import load_model
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from prophet import Prophet
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.stattools import adfuller

import pandas as pd
import numpy as np

import absl.logging
absl.logging.set_verbosity(absl.logging.ERROR)
import sys  
sys.path.insert(0, '../../')
import RadonDF_Handler

from statsmodels.tsa.stattools import grangercausalitytests, adfuller

import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [7]:
# p-value <= 0.05 means data is stationary
def adfullerTest():
    for column in columns:
        result = adfuller(column)
        print('ADF Statistic: %f' % result[0])
        print('p-value: %f' % result[1])
        print('Critical Values:')
        for key, value in result[4].items():
            print('\t%s: %.3f' % (key, value))

        print("-----------------------------------")

In [8]:
D001_df = pd.read_csv('./../../../../../Data/SensorsData/interpolated_D001_data.csv')
D001_df = D001_df.iloc[913:]
D001_df
D001_df['time'] =  pd.to_datetime(D001_df['time'], format='%Y-%m-%d %H:%M:%S')
D001_df.index = D001_df['time']
D001_df = D001_df.drop(['time'],axis = 1)

In [4]:
D001_df

                             T          Rn          H           P         CO2
time
2019-07-05 15:00:00  33.304737   10.995556  32.315789  101.571263   29.263158
2019-07-05 16:00:00  33.566316   10.340526  33.157895  101.553895   28.894737
2019-07-05 17:00:00  33.453500    9.654000  32.050000  101.534200   28.150000
2019-07-05 18:00:00  33.578947   10.009474  32.526316  101.527526   28.789474
2019-07-05 19:00:00  33.745789   13.413684  32.947368  101.523500   29.684211
...                        ...         ...        ...         ...         ...
2021-08-18 08:00:00  22.772000  145.034000  60.800000  101.978200  138.800000
2021-08-18 09:00:00  22.665000  226.328000  61.500000  101.960600  137.400000
2021-08-18 10:00:00  22.703750  247.572500  60.875000  101.922750  136.375000
2021-08-23 08:00:00  23.290000  330.400000  63.000000  101.663000  169.000000
2021-08-23 09:00:00  23.200000  330.400000  62.000000  101.667000  169.000000

[8547 rows x 5 columns]

In [ ]:


print('Temperature causes Radon?\n')
print('------------------')
granger_1 = grangercausalitytests(D001_df[['T', 'Rn']], 24)