In [1]:
import pandas as pd
import numpy as np

In [6]:
measurementsDf = pd.read_json('../../../../Data/JsonData/Get_measurements-1668704887407.json')

In [7]:
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != '@0123']
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != 'D000999']
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != 'D0001']
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != 'D0123']
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != 'D77']
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != 'DIAQ002']
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != 'undefined']
measurementsDf =  measurementsDf[measurementsDf['sensor_id'] != 'D0099']

In [8]:
measurementsDf

,time,T,Rn,H,P,CO2,sensor_id
1090,2019-05-15T15:00:00.000Z,0.0,3696.3,0.0,101.219889,184.833333,D001
1091,2019-05-15T16:00:00.000Z,0.0,3696.3,0.0,101.221692,179.230769,D001
1092,2019-05-15T17:00:00.000Z,0.0,3696.3,0.0,101.226687,184.875000,D001
1093,2019-05-15T18:00:00.000Z,0.0,3696.3,0.0,101.249615,184.423077,D001
1094,2019-05-15T19:00:00.000Z,0.0,3696.3,0.0,101.283528,184.811321,D001
...,...,...,...,...,...,...,...
145543,2022-07-29T11:00:00.000Z,25.2,NaN,56.0,NaN,1094.000000,DIAQ06
145544,2022-07-29T12:00:00.000Z,25.2,NaN,56.1,NaN,1089.000000,DIAQ06
145545,2022-07-29T13:00:00.000Z,25.2,NaN,56.6,NaN,1070.000000,DIAQ06
145546,2022-07-29T14:00:00.000Z,25.3,NaN,57.1,NaN,1089.000000,DIAQ06
145547,2022-07-29T15:00:00.000Z,25.5,NaN,60.1,NaN,988.000000,DIAQ06