In [83]:
import pandas as pd
from pymongo import MongoClient

# 1. Access to local database access

In [84]:
client = MongoClient("mongodb://localhost:27017");
database = client['RnHealthCleanData']

# 2. Dataset opening

In [85]:
measurementsDf = pd.read_json('../../../../Data/RawData/measurements.json')

In [92]:
len(measurementsDf.index)
measurementsDf.head(10)

,time,T,Rn,H,P,CO2,sensor_id
0,2020-06-27T10:00:00.000Z,3.000000,NaN,14.000000,NaN,NaN,@0123
1,2020-07-14T14:00:00.000Z,31.300000,NaN,44.475000,NaN,567.750000,D0001
2,2020-07-14T15:00:00.000Z,31.333333,NaN,45.505556,NaN,636.361111,D0001
3,2020-07-14T16:00:00.000Z,31.451429,NaN,47.145714,NaN,734.000000,D0001
4,2020-07-14T17:00:00.000Z,31.161765,NaN,36.000000,NaN,461.529412,D0001
5,2020-07-14T18:00:00.000Z,31.008333,NaN,28.436111,NaN,400.000000,D0001
6,2020-07-14T19:00:00.000Z,30.647222,NaN,29.133333,NaN,400.000000,D0001
7,2020-07-14T20:00:00.000Z,29.891429,NaN,28.597143,NaN,400.000000,D0001
8,2020-07-14T21:00:00.000Z,29.118919,NaN,29.162162,NaN,400.000000,D0001
9,2020-07-14T22:00:00.000Z,28.200000,NaN,31.611111,NaN,400.000000,D0001

# 3. Stores sensors id's

In [87]:
sensors= measurementsDf['sensor_id'].unique()

In [88]:
print(measurementsDf['sensor_id'].unique())
len(sensors)

['@0123' 'D0001' 'D000999' 'D001' 'D0011' 'D0012' 'D002' 'D0020' 'D0021'
 'D0022' 'D0023' 'D0024' 'D0025' 'D0026' 'D0027' 'D0028' 'D0029' 'D003'
 'D004' 'D005' 'D006' 'D007' 'D008' 'D009' 'D0099' 'D0123' 'D77' 'DIAQ002'
 'undefined']

29

# 4. Creates one collection per sensor and stores each sensor data on its own collection

In [89]:
for x in sensors:
    measures = measurementsDf[measurementsDf['sensor_id']==x]
    collection_id = database[x].insert_many(measures.to_dict('records'))
    print(collection_id)

<pymongo.results.InsertManyResult object at 0x0000012EEF837100>
<pymongo.results.InsertManyResult object at 0x0000012EEF828340>
<pymongo.results.InsertManyResult object at 0x0000012EECEAB070>
<pymongo.results.InsertManyResult object at 0x0000012EEC86CFD0>
<pymongo.results.InsertManyResult object at 0x0000012EECDF9A30>
<pymongo.results.InsertManyResult object at 0x0000012EF319FE80>
<pymongo.results.InsertManyResult object at 0x0000012EEEF5B070>
<pymongo.results.InsertManyResult object at 0x0000012EF319F910>
<pymongo.results.InsertManyResult object at 0x0000012EF1C870A0>
<pymongo.results.InsertManyResult object at 0x0000012EF319F970>
<pymongo.results.InsertManyResult object at 0x0000012EF1C87C10>
<pymongo.results.InsertManyResult object at 0x0000012EF319FCA0>
<pymongo.results.InsertManyResult object at 0x0000012EF316AD60>
<pymongo.results.InsertManyResult object at 0x0000012EEFE29610>
<pymongo.results.InsertManyResult object at 0x0000012EEF84F970>
<pymongo.results.InsertManyResult object at 0x0000012EF021E730>
<pymongo.results.InsertManyResult object at 0x0000012EF319F340>
<pymongo.results.InsertManyResult object at 0x0000012EECD5CD90>
<pymongo.results.InsertManyResult object at 0x0000012EEF84F970>
<pymongo.results.InsertManyResult object at 0x0000012EECD5CEE0>
<pymongo.results.InsertManyResult object at 0x0000012EF33C0A00>
<pymongo.results.InsertManyResult object at 0x0000012EF31EFB80>
<pymongo.results.InsertManyResult object at 0x0000012EF33C08E0>
<pymongo.results.InsertManyResult object at 0x0000012EF3CAA9A0>
<pymongo.results.InsertManyResult object at 0x0000012EEFE295E0>
<pymongo.results.InsertManyResult object at 0x0000012EF30C7A60>
<pymongo.results.InsertManyResult object at 0x0000012EEE280130>
<pymongo.results.InsertManyResult object at 0x0000012EEE280760>
<pymongo.results.InsertManyResult object at 0x0000012EEE280040>