# 1. Libraries Importation

In [43]:
import pandas as pd
from dateutil import parser
from datetime import timezone, datetime
pd.options.mode.chained_assignment = None

# 2. Data Loading

In [44]:
measurementsDf = pd.read_json('../../../../Data/RawData/measurements.json')

In [45]:
measurementsDf.head()

,time,T,Rn,H,P,CO2,sensor_id
0,2020-06-27T10:00:00.000Z,3.000000,NaN,14.000000,NaN,NaN,@0123
1,2020-07-14T14:00:00.000Z,31.300000,NaN,44.475000,NaN,567.750000,D0001
2,2020-07-14T15:00:00.000Z,31.333333,NaN,45.505556,NaN,636.361111,D0001
3,2020-07-14T16:00:00.000Z,31.451429,NaN,47.145714,NaN,734.000000,D0001
4,2020-07-14T17:00:00.000Z,31.161765,NaN,36.000000,NaN,461.529412,D0001

In [19]:
dayDf = pd.DataFrame(columns = ["day"])
monthDf = pd.DataFrame(columns = ["month"])
hourDf = pd.DataFrame(columns = ["hour"])

# 3. Time Parsing

### 3.1 Parse time column to timestamp - optional

In [46]:
def parseTimeFrameToTimestampFormat():
    for i in range(len(measurementsDf['time'])):
        timeContainer  = measurementsDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        measurementsDf['time'][i] = timeContainer

In [47]:
%%time

parseTimeFrameToTimestampFormat()

CPU times: total: 28.6 s
Wall time: 30.5 s

### 3.2. Parse time column to time - optional

In [19]:
def parseTimeFrameToDatetimeFormat():
    for i in range(len(measurementsDf['time'])):
        timeContainer  = measurementsDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        timeContainer = datetime.fromtimestamp(timeContainer)
        #measurementsDf['time'][i] = timeContainer.time()
        measurementsDf['time'][i] = timeContainer

In [20]:
%%time

parseTimeFrameToDatetimeFormat()

### 3.3. Day, Month and time column creation - optional

In [8]:
##%%time

##dayMonthTimeDataFrameCreator()

In [7]:
def dayMonthTimeDataFrameCreator():
    for i in range(len(measurementsDf['time'])):
        timeContainer  = measurementsDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        timeContainer = datetime.fromtimestamp(timeContainer)
        monthDf.loc[i] = timeContainer.month
        dayDf.loc[i] = timeContainer.day
        hourDf.loc[i] = timeContainer.time().hour

### 3.4. Parse iso 8601 to timestamp - optional

In [20]:
def iso8601ToDatetime():
    for i in range(len(measurementsDf['time'])):
        timeContainer  = measurementsDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        timeContainer = datetime.fromtimestamp(timeContainer)
        measurementsDf['time'][i] = timeContainer

In [21]:
%%time

iso8601ToDatetime()

CPU times: total: 25.9 s
Wall time: 26.3 s

# 4. Final output

In [6]:
measurementsDf.head()

,time,T,Rn,H,P,CO2,sensor_id
0,2020-06-27T10:00:00.000Z,3.000000,NaN,14.000000,NaN,NaN,@0123
1,2020-07-14T14:00:00.000Z,31.300000,NaN,44.475000,NaN,567.750000,D0001
2,2020-07-14T15:00:00.000Z,31.333333,NaN,45.505556,NaN,636.361111,D0001
3,2020-07-14T16:00:00.000Z,31.451429,NaN,47.145714,NaN,734.000000,D0001
4,2020-07-14T17:00:00.000Z,31.161765,NaN,36.000000,NaN,461.529412,D0001

In [8]:
timestamp = 1593248400

output = datetime.fromtimestamp(timestamp)
print(type(output))

<class 'datetime.datetime'>

In [21]:
print(type(output))

<class 'datetime.datetime'>

In [26]:
print(output.month,'/',output.day, output.time())

6 / 27 10:00:00

In [32]:
print(type(output.month))
print(type(output.day))
print(type(output.time().hour))
cont = output.time()

<class 'int'>
<class 'int'>
<class 'int'>

In [30]:
cont = cont.hour

In [31]:
cont

10

# 5. Time DataFrame visualization

In [22]:
pd.DataFrame(measurementsDf['time'])

                       time
0       2020-06-27 10:00:00
1       2020-07-14 14:00:00
2       2020-07-14 15:00:00
3       2020-07-14 16:00:00
4       2020-07-14 17:00:00
...                     ...
117269  2020-06-27 10:00:00
117270  2020-06-27 11:00:00
117271  2020-06-27 12:00:00
117272  2020-08-19 13:00:00
117273  2020-08-19 14:00:00

[117274 rows x 1 columns]

# 5. Saving dataset with the right time format to use in Machine Learning

In [49]:
df = pd.DataFrame(measurementsDf)

In [50]:
df.to_csv('measurementsWithDatetime.csv',index=False)

In [53]:
file = pd.read_json('../../../../Data/RawData/measurementsWithDatetime.csv')

ValueError: Unexpected character found when decoding 'true'