# 1. Libraries Importation

In [3]:
import pandas as pd
from dateutil import parser
from datetime import timezone, datetime
pd.options.mode.chained_assignment = None

# 2. Data Loading

In [4]:
measurementsDf = pd.read_json('../../../../Data/RawData/measurements.json')

In [5]:
measurementsDf.head()

,time,T,Rn,H,P,CO2,sensor_id
0,2020-06-27T10:00:00.000Z,3.000000,NaN,14.000000,NaN,NaN,@0123
1,2020-07-14T14:00:00.000Z,31.300000,NaN,44.475000,NaN,567.750000,D0001
2,2020-07-14T15:00:00.000Z,31.333333,NaN,45.505556,NaN,636.361111,D0001
3,2020-07-14T16:00:00.000Z,31.451429,NaN,47.145714,NaN,734.000000,D0001
4,2020-07-14T17:00:00.000Z,31.161765,NaN,36.000000,NaN,461.529412,D0001

In [6]:
dayDf = pd.DataFrame(columns = ["day"])
monthDf = pd.DataFrame(columns = ["month"])
hourDf = pd.DataFrame(columns = ["hour"])

# 3. Time Parsing

### 3.1 Parse time column to timestamp - optional

In [56]:
def parseTimeFrameToTimestamp():
    for i in range(len(measurementsDf['time'])):
        timeContainer  = measurementsDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        measurementsDf['time'][i] = timeContainer

In [60]:
#parseTimeFrameToTimestamp()

### 3.2. Parse time column to time - optional

In [9]:
def parseTimeFrameToTime():
    for i in range(len(measurementsDf['time'])):
        timeContainer  = measurementsDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        timeContainer = datetime.fromtimestamp(timeContainer)
        measurementsDf['time'][i] = timeContainer.time()

In [59]:
#parseTimeFrameToTime()

### 3.3. Day, Month and time column creation - optional

In [7]:
def dayMonthTimeDataFrameCreator():
    for i in range(len(measurementsDf['time'])):
        timeContainer  = measurementsDf['time'][i].replace('.000','')
        timeContainer = datetime.strptime(timeContainer, "%Y-%m-%dT%H:%M:%SZ")
        timeContainer = int(round(timeContainer.timestamp()))
        timeContainer = datetime.fromtimestamp(timeContainer)
        monthDf.loc[i] = timeContainer.month
        dayDf.loc[i] = timeContainer.day
        hourDf.loc[i] = timeContainer.time().hour

In [8]:
%%time

dayMonthTimeDataFrameCreator()

In [14]:
#dayDf.insert(1,monthDf)
#dayDf.append(hourDf)
dayDf
#monthDf
#hourDf

        day
0        27
1        14
2        14
3        14
4        14
...     ...
117269   27
117270   27
117271   27
117272   19
117273   19

[117274 rows x 1 columns]

In [18]:
newbie = dayDf.join(monthDf)

# 4. Final output

In [24]:
#newbie = newbie.join(hourDf)
newbie
#newbie.isnull().sum()

        day  month  hour
0        27      6    10
1        14      7    14
2        14      7    15
3        14      7    16
4        14      7    17
...     ...    ...   ...
117269   27      6    10
117270   27      6    11
117271   27      6    12
117272   19      8    13
117273   19      8    14

[117274 rows x 3 columns]

In [1]:
measurementsDf.head()

NameError: name 'measurementsDf' is not defined

In [20]:
timestamp = 1593248400

output = datetime.fromtimestamp(timestamp)
print(output)

2020-06-27 10:00:00

In [21]:
print(type(output))

<class 'datetime.datetime'>

In [26]:
print(output.month,'/',output.day, output.time())

6 / 27 10:00:00

In [32]:
print(type(output.month))
print(type(output.day))
print(type(output.time().hour))
cont = output.time()

<class 'int'>
<class 'int'>
<class 'int'>

In [30]:
cont = cont.hour

In [31]:
cont

10